div.row.justify-content-center.align-content-center{
    width: 100% !important;
}

#heading{
    border-bottom: 0.4px solid silver;
}

div.product img{
    width: 120px;
    height: 70px;
}

form div.col-lg-2.py-3 div.form-group.input-group-sm a{
    color: gray;
}

form.removeForm button{
    border: 0px;
    background: transparent;
    outline: none;
    margin-right: 4em;
}