div.card.card-primary{
    border-radius: 20px;
    width: 370px;
}

.card-header{
    border:  0px;
    border-radius: 20px 20px 0px 0px !important;
    border-top: 2px solid blue;
    background-color: white;
    box-shadow: 0px 0.1px 1px gray;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

label{
    font-weight: 400;
    color: #34395e;
    font-size: 12px;
    letter-spacing: 0.5px;
}

div.float-right a{
    font-size: 12px;
    letter-spacing: 0.5px;
    font-weight: 400;
}

.btn{
    font-size: 12px;
    line-height: 24px;
}


div.text-job{
    font-size: 10px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 700;
}

.btn-facebook{
    background-color: #3b5998;
}

.btn-social{
    border: none;
    border-radius: 3px;
    padding: 12px 12px 12px 50px;
    color: #fff !important;
    font-weight: 500;
    font-size: 12px;
}

.btn-twitter{
    background-color: #1583d7;
}