* {
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}

.row {
    width: 100%;
}

main {
    background-color: #fff;
}

aside#sidebar {
    position: fixed;
    width: 15em;
    height: 100%;
    background: #03122e;
    transition: all 0.5s;
    border: 0px;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 3px;
    vertical-align: bottom;
    color: white;
    z-index: 3;
}

#sidebar a.closebtn {
    display: none;
    position: absolute;
    right: 0;
    font-size: 1.5em;
    margin-right: 0.5em;
    color: #fff;
    text-decoration: none;
}

#sidebar a.navbar-brand {
    color: white;
    text-decoration: none;
    background-color: transparent;
    margin-left: 1em;
    width: fit-content;
}

.category_wrapper {
    height: 86%;
    overflow-y: auto;
    text-overflow: ellipsis;
}

.category_wrapper .accordion {
    color: #fff;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: x-small;
    font-weight: bold;
    font-family: sans-serif;
    transition: 0.4s;
    background-color: #0b285d;
}

.panel .subcat {
    font-size: x-small;
    font-weight: 600;
    font-family: sans-serif;
    border: 0;
}

.panel .subcat .subcat-item {
    border: 0;
    background-color: #4f6a9b;
}

.panel .subcat .subcat-item a {
    color: inherit;
    position: relative;
    transition: all 0.5s;
    padding: 0.75rem 1.25rem;
    display: block;
}

.panel .subcat .subcat-item a:hover {
    text-decoration: none;
    color: aqua;
    margin-left: 10px;
}

.panel .subcat .subcat-item a:before {
    padding: 0px;
    font-weight: 900;
    font-size: 12px;
    color: #868e96;
}

.actives,
.accordion:hover {
    background-color: #236ca0;
}

.accordion:after {
    content: '\002B';
    color: #777;
    font-weight: bold;
    float: right;
    margin-left: 5px;
}

.actives {
    background-color: rgba(0, 0, 0, 0.3);
    border: 0;
}

.actives:after {
    content: "\2212";
}

.panel {
    padding: 0 18px;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}

#sidebar a.navbar-brand img.header-logo {
    height: 30px;
}

#sidebar h6.text-center {
    font-size: x-small;
    line-height: 15px;
    letter-spacing: 15px;
    font-weight: 600;
}

nav.navbar.navbar-expand-md.navbar-light.shadow {
    box-shadow: 0px 0.1px 1px gray;
    width: 100%;
    position: absolute;
    z-index: 1;
}

.navigation {
    background-color: #03122e;
    color: white;
}

.navigation .container-fluid>button {
    position: absolute;
    right: 0;
    top: 0;
}

.navigation .container-fluid .navbar-collapse .navbar-nav .nav-link {
    color: white;
    font-weight: 600;
}

.navbar-light .navbar-nav .nav-link:hover {
    color: white;
}

nav.navbar.navbar-expand-md.navbar-light.bg-white.shadow .form-inline .search-element .form-control {
    font-weight: 500;
    background-color: #f0f3ff;
}

nav.navbar.navbar-expand-md.navbar-light.bg-white.shadow #cart {
    width: 40px;
    font-size: 20px;
    color: gray;
}

#vue-cart-products-count {
    background-color: brown;
    color: white;
    height: fit-content;
    border-radius: 20px;
    font-size: 9px;
    position: relative;
    top: -8px;
    left: -5px;
}

a#navbarDropdown {
    font-size: 12px;
    letter-spacing: 4px;
    text-decoration: uppercase;
}

a#navbarDropdown img {
    height: 30px;
    width: 30px;
    border-radius: 15px;
}

main {
    padding-top: 1em;
    padding-left: 2em;
    padding-right: 2em;
}

#sidebarToggle {
    outline: none;
    display: none;
    z-index: 2;
    padding: 0.4rem 0.75rem;
    font-size: 1.125rem;
    line-height: 1;
    background-color: transparent;
    border: 1px solid rgba(0, 0, 0, 0.4);
    border-radius: 0.25rem;
    position: fixed;
    bottom: 0px;
}

#sidebarToggle .fa-bars {
    font-size: 20px;
    color: rgba(0, 0, 0, .6);
}

div.content {
    padding-left: 15em;
    background: rgba(0, 0, 0, 0.02);
}

.navigation .container-fluid .navbar-collapse .navbar-nav {
    margin-right: 0.6em;
}

@media screen and (max-width: 1024px) {
    div.content {
        padding-left: 15em;
    }
    .navigation .container-fluid .navbar-collapse .navbar-nav .nav-item .form-inline {
        width: 14em;
    }
}


/* tablet */

@media screen and (max-width: 768px) {
    .navbar-toggler-icon {
        display: inline-block;
    }
    aside#sidebar {
        height: 100%;
        width: 0px;
        position: fixed;
        top: 0;
        left: 0;
        overflow-x: hidden;
    }
    div.content {
        padding-left: 0em;
    }
    #sidebarToggle {
        display: inline;
    }
    .navigation .container-fluid .navbar-collapse .navbar-nav .nav-item .form-inline {
        width: 100%;
        margin: 1em 0em;
    }
    .navbar-expand-md .navbar-nav {
        align-items: baseline;
        margin-right: 0em;
    }
}