.col-md-8 .card {
    width: 500px !important;
    border-radius: 20px !important;
    height: 450px !important;
}

.col-md-8 .card .card-header {
    border-radius: 20px 20px 0px 0px !important;
    /* outline: 0px; */
    border-top: 2px solid rgb(0, 81, 255) !important;
}

.col-md-8 input.form-control[type=file] {
    overflow: hidden;
}