.container form.mt-4 {
    font-family: times new roman;
}

.col-3 .product-img {
    border: 1px solid lightgrey;
    width: 100%;
    height: 15em;
    padding: 0.1em;
    margin-bottom: 1em;
}

.col-6 .form-group.input_wrapper {
    display: grid;
    grid-template-columns: 25% 75%;
}

.col-6 .form-group.input_wrapper label {
    font-size: 14px;
}

.col-6 .form-group.input_wrapper textarea {
    resize: none;
    height: 85px;
}

.error {
    font-style: italic;
}