.wow {
    width: fit-content;
}

.grid-wrapper {
    width: inherit;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 2em;
}

.grid-wrapper .grid {
    height: fit-content;
}

.grid-wrapper .grid .card {
    border-radius: 0px;
    width: 100%;
}

.grid-wrapper .grid .card .card-body {
    padding: 3px;
    height: 15em;
}

.grid-wrapper .grid .card .card-body a img {
    width: 100%;
    height: 8em;
}

.grid-wrapper .grid .card .card-body div>p,
.grid-wrapper .grid .card .card-body div>p strong {
    font-size: 12px;
}

.btn.btn-success {
    position: absolute;
    top: 14.6em;
    right: 0.5em;
}

@media screen and (max-width:425px) {
    .grid-wrapper {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width:375px) {
    .grid-wrapper .grid .card .card-body {
        height: 15em;
    }
    .grid-wrapper .grid .card .card-body div>p,
    .grid-wrapper .grid .card .card-body div>p strong {
        font-size: 12px;
    }
    .btn.btn-success {
        top: 14.5em;
    }
}